<ion-header [translucent]="true">
  <ion-toolbar color="rosybrown">

    <ion-buttons>
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Chat</ion-title>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="para">Alegeti persoana cu care doriti sa comunicati:</p>

  <div style="text-align: center; margin:auto;">
    <ion-button expand="block">Medic</ion-button>
  </div>

<div style="text-align: center; margin:auto;">
  <ion-button expand="block">Insotitor</ion-button>
</div>


</ion-content>
