<ion-header>
  <ion-toolbar color="rosybrown">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email invalid.</ion-note>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Parola" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Parola trebuie sa aiba cel putin 6 caractere.</ion-note>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Login</ion-button>
    <!-- <ion-button expand="full" type="button" (click)="goToRegisterPage()">Cont nou</ion-button> -->
    </form>

    <p class="goToReg">Nu aveti cont inca? <a (click)="goToRegisterPage()">Creati un cont nou.</a></p>
    <p class="goToReg">Ati uitat parola? <a (click)="goToForgotPage()">Resetati parola.</a></p>
</ion-content>
