<ion-header [translucent]="true">
  <ion-toolbar color="rosybrown">
    <ion-buttons>

      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title class="title">Localizare</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>
    <ion-list-header>
      <ion-label class="note">Coordonatele dumneavoastra sunt:</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        Latitudine
      </ion-label>
      <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>
        Longitudine
      </ion-label>
      <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
    </ion-item>

  </ion-list>

  <ion-button (click)="getCoords()" expand="block">Obtineti coordonatele</ion-button>

  <!-- <p>Vizualizati locatia curenta pe <a>Google maps</a></p> -->
  <p></p>
  <ion-text class="note">Vizualizati locatia curenta pe <a>Google maps</a></ion-text>

</ion-content>
