ion-content.bg{
    --background:url('/assets/images/bg.jpg') 0 0/100% 100% no-repeat;
    
}

ion-toolbar{
    background-color: rosybrown;
}

ion-title{
    text-align: center;
    color: #ecd6d6;
}

ion-item.dtPick{
    color: #ecd6d6;
    background-color: rosybrown;
}

ion-button{
    --background:rosybrown;
    border: pink;
    color: seashell;   
}