<ion-header [translucent]="true">
  <ion-toolbar color="rosybrown">

    <ion-buttons>
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>

      <ion-title class="title">Profil</ion-title>

      <ion-button fill="clear" slot="">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <!-- <ion-buttons>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons> -->


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-text class="note">Introduceti informatiile dumneavoastra:</ion-text>


  <div class="preview">
    <ion-avatar  (click)="changeImage()">
      <img alt="profile-pic" *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" class="image-responsive"/>

      <ng-template #placeholder_avatar>
        <div class="fallback">
          <p>Selectati poza</p>
        </div>

      </ng-template>
    </ion-avatar>
  </div>

  <form [formGroup]="credentials" (ngSubmit)="addData()">


  <!-- <ion-list> -->

    <ion-item >
      <ion-label>Nume:</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
      <ion-note slot="error" *ngIf="(lastName.dirty || lastName.touched) && lastName.errors">Acest camp nu poate fi gol.</ion-note>
    </ion-item>

      <ion-item>
        <ion-label>Prenume: </ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
      <ion-note slot="error" *ngIf="(firstName.dirty || firstName.touched) && firstName.errors">Acest camp nu poate fi gol.</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Varsta: </ion-label>
      <ion-input type="text" formControlName="age"></ion-input>
      <ion-note slot="error" *ngIf="(age.dirty || age.touched) && age.errors">Acest camp nu poate fi gol.</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Adresa:</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
      <ion-note slot="error" *ngIf="(address.dirty || address.touched) && address.errors">Acest camp nu poate fi gol.</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Telefon: </ion-text>
      </ion-label>
      <ion-input type="text" formControlName="tel"></ion-input>
      <ion-note slot="error" *ngIf="(tel.dirty || tel.touched) && tel.errors">Acest camp nu poate fi gol.</ion-note>
    </ion-item>




  <ion-item>
    <!-- <p>Locatia curenta pe <a (click)="goToGoogleMaps()">Google maps</a> -->

    <!-- </p> -->

    <p>Locatia curenta pe <a>Google maps</a></p>
  </ion-item>

  <ion-button type="submit" expand="block" [disabled]="credentials.invalid">Salvati</ion-button>

</form>


</ion-content>
