<ion-content class="bg">
  <form (submit)="onSubmit()">

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">

        <ion-card>
          <ion-card-header>
            <ion-card-title id="tit">Logare medic</ion-card-title>
            <br>
          </ion-card-header>

          <ion-card-content>

            <div [formGroup]="credForm">
            <ion-item color="rosybrown">
              <ion-input color="danger" type="text" text-center style="border:none" placeholder="Username" clearInput 
              formControlName="username" ></ion-input>
            </ion-item>
          </div>

          <div class="validation-err">
            <ng-container *ngFor ="let validation of validation_mess.username">
              <div class="error-message" *ngIf="credForm.get('username').hasError(validation.type) && (credForm.get('username').dirty || credForm.get('username').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

            <div  [formGroup]="credForm">
            <ion-item color="rosybrown">
              <ion-input color="danger" type="password" text-center style="border:none" placeholder="Parola" clearInput
              formControlName="password"></ion-input>
            </ion-item>
          </div>

          <div class="validation-err">
            <ng-container *ngFor ="let validation of validation_mess.password">
              <div class="error-message" *ngIf="credForm.get('password').hasError(validation.type) && (credForm.get('password').dirty || credForm.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

            <ion-button class="but" expand="full" type="submit" [disabled]="!credForm.valid">
              <ion-icon slot="end"  name="chevron-forward-outline"></ion-icon>
                Login</ion-button>

         
        
         </ion-card-content>
        </ion-card>

        <ion-button class="med" expand="full" fill="clear" (click)="log()">Sunteti pacient?</ion-button> 

      </ion-col>
    </ion-row>
  </ion-grid>

  </form>
</ion-content>