<ion-header>
  <ion-toolbar color="rosybrown">
    <ion-buttons slot="start">
      <!-- <ion-button  > 
        <ion-icon name="arrow-undo-sharp" class="back" type="submit"></ion-icon>
      </ion-button> -->
    </ion-buttons>

    <ion-title>Pacient Dashboard</ion-title>
  
    <!-- //vreau sa afisez welcome + nume utilizator
    <ion-icon name="person"></ion-icon>
    <h1>Welcome, -Username here-</h1> -->
  
  </ion-toolbar>
</ion-header>


<ion-content class="bg"> 
<form (submit)="logout()">

  <ion-grid>
    <ion-row>

      <ion-col size="6" >
        <ion-card text-center padding (click)="goProfil()">
          <ion-card-title>Informatii personale</ion-card-title>
          <ion-card-content>
            <ion-icon name="person" class="icon1"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" >
        <ion-card text-center padding (click)="goProfilMed()">
          <ion-card-title>Informatii medicale</ion-card-title>
          <ion-card-content>
            <ion-icon name="medical-sharp"  class="icon4"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card text-center padding (click)="goChat()">
          <ion-card-title>Med-Chat</ion-card-title>
          <ion-card-content>
            <ion-icon name="fitness-sharp" class="icon4"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card text-center padding (click)="goProgramare()">
          <ion-card-title>Programare </ion-card-title>
          <ion-card-content>
            <ion-icon name="calendar" class="icon2"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card text-center padding (click)="goSmartMed()">
          <ion-card-title>SmartMed</ion-card-title>
          <ion-card-content>
            <ion-icon name="pulse" class="icon3"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card text-center padding >
          <ion-card-title>SmartHome</ion-card-title>
          <ion-card-content>
            <ion-icon name="home-sharp" class="icon3"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      

      <ion-col >
      
       <ion-button expand="full" type="submit">  Logout </ion-button> 

    </ion-col>
      
    </ion-row>
  </ion-grid>

</form>
</ion-content>
